#body{
    background: #505050;
    padding: 40px;
    max-width: 1200px;
    margin: auto;
}

#title{
    color: blue;
    background-color: white;
    font-size: 80px;
    font-style: bold;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding: 10px 30px;
    border: 3px solid black;
    margin: 0px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.text{
    color: blue;
    background-color: lightgray;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px 30px;
    border: 3px solid black;
    margin: 0px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.text_title{
    margin: 0px;
    margin-bottom: 25px;
    text-align: center;
}

.text_text{
    margin: 0px;
    margin-bottom: 10px;
    text-align: justify;
}

.text_image{
    margin: auto;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    width: 100%;
}

.jogar{
    text-align: center;
    font-size: 50px;
}

.jogar a{
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}

.contact{
    color: blue;
    background-color: white;
    font-size: 60px;
    font-style: bold;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding: 10px 30px;
    border: 3px solid black;
    margin: 0px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.links{
    color: blue;
    background-color: lightgray;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    list-style-type: none;
    padding: 10px 30px;
    border: 3px solid black;
    margin: 0px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.links li a{
    color: blue;
    text-decoration: none;
}