*{margin: 0; padding: 0; box-sizing: border-box;}

.center
{ 
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%;
}

header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 18px 0;
    background: #0873C3;
}

header li
{
    display: inline-block;
    padding: 0 15px;
}

header li h1
{
    text-align: left;
    margin-right: 300px;
    color: #F7C207;
}

header li a
{
    text-align: center;
    text-decoration: none;
    color: white;
}

.content
{
    height: 3000px;
}

section.content
{
    margin-top: 100px;
}